* {
    font-family: monospace;
}

/* game */
body {
    margin: 0;
    background-color: #111;
    color: #aaa;
}

main {
    width: 100%;
    position: relative;
}

.arrow {
    position: absolute;
    bottom: 0;
    display: block;
}
.arrow:hover {
    /* fill: #eee; */
}

.arrow.clockwise {
    right: 0;
}

.fullscreen {
    position: absolute;
    right: 0;
    color: #aaa;
    font-size: 20px;
}

button {
    background: none;
    border: 1px solid #aaa;
    background-color: #111;
    color: #aaa;
}

.botmid {
    position: absolute;
    left: 50%;
    top: 5px;
}
.botmid>div {
    position: relative;
    left: -50%;
}
.curlevel {
    text-align:center;
}